html {
  background-image: url(../images/sloth-bg.svg);
  background-size: 48px;
}

h1 {
  font-family: Georgia, serif;
  color: #fff;
  text-shadow: .1em .1em .3em rgba(0, 0, 0, .6);
}

p {
  font-family: Verdana, sans-serif;
}

main {
  background-color: #fff;
}
